#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Antolin
GenericName=Antolin 
Comment=Mit lesen Punkten
Icon=/home/lehrmittel/antolin/antolin.gif
Exec=/usr/bin/chromium-browser --app=https://www.antolin.de
Terminal=false
Categories=Education
