[Desktop Entry]
Name=Blitzrechnen
Exec=/usr/share/bin/blitzrechnen.sh
Icon=blitzrechnen.png
Type=Application
StartupNotify=true
Categories=Education

