[Desktop Entry]
Type=Application
Name=Logisch 2
GenericName=Logisch 2
Comment=Rechnen und üben 2
Icon=logisch2.jpeg
Exec=gnash-gtk-launcher --hide-menubar /home/lehrmittel/logisch/logisch2/logisch2.swf
Terminal=false
Categories=Education


