[Desktop Entry]
Type=Application
Name=Logisch 5
GenericName=Logisch 5
Comment=Rechnen und üben 5
Icon=logisch5.ico
Exec=gnash-gtk-launcher --hide-menubar /home/lehrmittel/logisch/logisch5/logisch5.swf
Terminal=false
Categories=Education


