[Desktop Entry]
Type=Application
Name=Logisch 6
GenericName=Logisch 6
Comment=Rechnen und üben 6
Icon=logisch6.ico
Exec=gnash-gtk-launcher --hide-menubar /home/lehrmittel/logisch/logisch6/logisch6.swf
Terminal=false
Categories=Education


