#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=MilleFeuilles 4.2
Exec=chromium-browser --app=$(/usr/share/bin/web-path)/millefeuille/4.2/START.html
Icon=mf42.png
Categories=Education
