#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=Mille feuilles: magazine 3.1
Name[de]=Mille feuilles: magazine 3.1
GenericName[de]=Mille feuilles: magazine 3.1
Comment[de]=Mille feuilles: magazine 3.1
Exec=/usr/bin/chromium-browser --app=file:///home/lehrmittel/millefeuille/3.1/START.html
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=mf3.1.png
Categories=Education;
