#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=Mille feuilles: magazine 3.2
Name[de]=Mille feuilles 3.2
GenericName=Mille feulles 3.2
Comment[de]=Französisch lernen
Exec=chromium-browser --app=$(/usr/share/bin/web-path)/millefeuille/3.2/START.html
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=mf3.2.png
Categories=Education;
