#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=MilleFeuilles 4.1
Exec=/usr/lib/chromium-browser/chromium-browser --app=file:///home/lehrmittel/millefeuille/4.1/START.html
Icon=/home/lehrmittel/millefeuille/4.1/mf41.png
StartupWMClass=home_lehrmittel_millefeuille_4.1_START.html
